<!doctype html>
{% extends 'base.html' %}

{% block content %}
<h1>{{ part.name }}</h1>
<table class="table">
  <tr><td>Part Number: {{ part.number }}</td></tr>
  <tr><td>Stage: <a href="/part/{{ part.id }}/{{ part.stage }}">{{ stagename }}</a></td></tr>
  <tr><td>Designer: {{ part.designer.name }}</td></tr>
  <tr><td>Priority: {{ part.priority }}</td></tr>
  {% if part.electrical_reviewer %}
  <tr><td>Electrical Reviewer: {{ part.electrical_reviewer.name }}</td></tr>
  {% endif %}
</table>
{% endblock %}